pkg/
api.key
*-handin.tar.gz

*.*/
mrtmp.*
824-mrinput-*.txt
/main/diff.out
/mapreduce/x.txt
/pbservice/x.txt
/kvpaxos/x.txt
*.so

cmd/mr/master/mrmaster
cmd/mr/sequential/mrsequential
cmd/mr/worker/mrworker